.main {
  height: 100vh;
  background-image: url(https://drive.google.com/uc?export=view&id=14yRxG1XpzWmZ7CMrxTeyk2blmqh6hUPU);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }
}
